.doctor-box {
  border: solid 2px;
  margin: 7vh 4% 5vh 4%; /* top - right - bottom - left */
  height: 55vh;
  width: 25vw;
}

.doctor-box-head {
  margin: 1.5vh 0vw 1vh 0vw;
  text-align: left;
}

.doctor-box-text {
  margin: 1.5vh 0vw 1vh 0vw;
  text-align: left;
  font-size: large;
}

.doctor-box-image {
  margin: 1.5vh 0vw 1vh 0vw;
  float: right;
  max-width: 150px;
  max-height: 225px;
}
