.the-box {
  border: solid 2px;
  margin: 7vh 4% 5vh 4%; /* top - right - bottom - left */
  height: 55vh;
  width: 40vw;
  align-content: center;
}

.box-head {
  margin: 1.5vh 0vw 1vh 0vw;
  text-align: center;
  font-size: 2.5vw;
}

.box-text {
  margin: 1.5vh 0vw 1vh 0vw;
  text-align: center;
  font-size: 1.5vw;
}

.box-image {
  margin: 1.5vh 0vw 1vh 0vw;
  float: right;
  max-width: 40%;
  max-height: 60%;
}
