<div class="container-fluid d-flex">
  <div class="col-xs-12 the-box">
    <h3 class="box-head">Perfect doctors</h3>
    <p class="box-text" style="margin-top: 3vh; margin-bottom: 3vh; margin-left: 1vw; margin-right: 1vw">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Sed ullamcorper sodales mi et gravida. Mauris fringilla sapien felis, quis rutrum tellus varius ut.
      Ut lacinia interdum pharetra. Duis lacinia pellentesque lacinia.
    </p>
    <div class="col text-center">
      <button class="btn btn-primary" (click)="onDoctorClick()">Our Doctors</button>
    </div>
  </div>
  <div class="col-xs-12 the-box" >
    <h3 class="box-head">Visit us anytime!</h3>
    <p class="box-text" style="margin-top: 3vh; margin-bottom: 3vh; margin-left: 1vw; margin-right: 1vw">
      Donec sem massa, viverra ac varius nec, vulputate non metus.
      Curabitur vitae convallis nunc. Nam ut purus at erat dignissim vestibulum id vitae ligula.
      Integer vitae nulla elementum, hendrerit nisl at, ultrices mauris.
    </p>
    <div class="col text-center">
      <button class="btn btn-primary" (click)="onVisitClick()">Get the visit</button>
    </div>
  </div>
  <div class="col-xs-12 the-box">
    <h3 class="box-head">Your data is safe</h3>
    <p class="box-text" style="margin-top: 3vh; margin-bottom: 3vh; margin-left: 1vw; margin-right: 1vw">
      Donec sem massa, viverra ac varius nec, vulputate non metus.
      Curabitur vitae convallis nunc. Nam ut purus at erat dignissim vestibulum id vitae ligula.
      Integer vitae nulla elementum, hendrerit nisl at, ultrices mauris.
    </p>
    <div class="col text-center">
      <button class="btn btn-primary" (click)="onProfileClick()">Open the profile</button>
    </div>
  </div>
</div>
